<!doctype html>
<html>
<head>
  <title>Lazy BBS</title>
  <link rel="stylesheet" href="./public/bootstrap.css">
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row page-header text-center"><h3>About</h3></div>
    <div class="row-fluid">
      <div class="span2">
        <ul class="nav nav-tabs nav-stacked">
          <li ><a href="/">Create Thread</a></li>
          <li class="active"><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="span10"><p>It's a BBS.  It'll remember some text some person somewhere else made, and tell you about it.</p></div>
    </div>
  </div>
</body>
</html>
