<!doctype html>
<html>
<head>
  <title>Lazy BBS - Threads</title>
  <link rel="stylesheet" href="./public/bootstrap.css">
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
  <div class="container">
    <h3 id="sitetitle text-center">Lazy BBS</h3>
    <div>
      {% for thread in threads %}
        <div><a href='/{{ thread.id }}'>{{ thread.title }}</a></div>
      {% else %}
        <div><p>There are currently no threads.</p></div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
