<!doctype html>
<html>
<head>
  <title>Lazy BBS</title>
  <link rel="stylesheet" href="./public/bootstrap.css">
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
  <div class="row container">
    <p class="text-center"><h3 id="sitetitle">Lazy BBS</h3></p>
    <span class="span3"><a class="mainnav" href="/browse">Browse Threads</a></span>
    <div class="span6">
    <form action="/newthread" method="get" class="form-horizontal" >
      <div class="control-group"><div class="primary-blue controls">Create New Thread</div></div>
      <div class="control-group">
        <label class="control-label primary-red">Thread Title</label><div class="controls"><input type="text" name="title"></div>
      </div>
      <div class="control-group">
        <label class="control-label primary-red">Public?</label><div class="controls"><input type="checkbox" name="public" checked></div>
      </div>
      <div class="control-group"><div class="controls"><button class="btn" type="submit" >Create</button></div></div>
    </form>
  </div>
  <div class="span3"></div>
  </div>
</body>
</html>
