<!doctype html>
<html>
<head>
  <title>Lazy BBS</title>
  <link rel="stylesheet" href="./public/bootstrap.css">
  <link rel="stylesheet" href="./public/style.css">
</head>
<body>
  <h3 id="sitetitle">Lazy BBS</h3>
  <div id="main">
    <a class="mainnav long" href="/browse">Browse Threads</a>
    <div class="giragira space">Create New Thread</div>
    <form action="/newthread" method="get" >
      <label class="spoonspan">Thread Title</label><input type="text" name="title"><br />
      <label class="spoonspan">Public?</label><input class="smallspace" type="checkbox" name="public" checked><br />
      <input class="button" type="submit" value="Create">
    </form>
  </div>
</body>
</html>
