<!doctype html>
<html ng-app>
<head>
  <title>Lazy BBS</title>
  <link rel="stylesheet" href="./public/bootstrap.css">
  <link rel="stylesheet" href="./public/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="thread.js"></script>
</head>
<body>
  <div id='main' ng-controller="threadCtrl">
    <h3 class="threadtitle" >{{ thread.title }}</h3>
    <div id='add'>
      <form ng-submit="addPost()">
        <label><span class="spoonspan">Username </span></label><input type="text" ng-model="postUser"><br /> <!--lmao-->
        <textarea class="bodyin" rows="5" ng-model="postBody"></textarea><br /> <!--yeah...-->
        <input id="postbutton" class="button" type="submit" value="Post">
      </form>
    </div>
    <div ng-repeat="post in posts">
      <div class='post'>
        <div class='head'><span class="giragira">User</span>:{{ post.user }}<span class='smallspace'></span> <span class="unimportant">Timestamp</span>:{{ post.age }}</div>
        <div class='body'>{{ post.body }}</div>
      </div>
    </div>
  </div>
</body>
</html>
