/*general*/
body {
  background: #E3DEC4;
}

/*I care about links*/
a:link {
  text-decoration: none;
  color: #C45A3B;
}
a:visited {
  text-decoration: none;
  color: #919C86;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

#sitetitle, .threadtitle {
  color: #243A42;
  margin-left:10px;
  margin-bottom:20px;
}

.mainnav {
  color: #9E373E;
}
.mainnav:hover {
  color: #C45A3B;
}
.mainnav:visited {
  color: #9E373E;
}

.primary-blue {
  color: #9E373E;
}

.unimportant {
  color: #919C86;
}

/*thread pages*/
.post.body {
  padding: 4px;
}

.bodyin {
  width: 600px;
  height: 60px;
}

.primary-red {
  color: #9E373E;
}
